<div class="modal-create-post">
    <div class="modal-inner">
        <span class="close-modal">x</span>
        <div id="create-errors"></div>
        <form method="post" action="{% url 'post_create' %}" id="post-create-form" method="post" enctype="multipart/form-data">
            {{ post_creation_form.as_p }}
            <p>Посилання</p>
            <div id="links-list">
                <input type="url" name="links" placeholder="https://www.instagram.com/world.it.academy">
                <span id="add-link">+</span>
            </div>
            <p>
                <button type="submit">Публікація</button>
            </p>
        </form>
    </div>
</div>