{% for post in posts %}
    <article class="post">
        <div class="post-header">
            <p>{% if post.author.username %}{{ post.author.username }}{% else %}{{ post.author.email }}{% endif %}</p>
        </div>

        <div class="post-content">
            <h2>{{ post.title }}</h2>

            {% if post.topic %}
                <h2>{{ post.topic }}</h2>
            {% endif %}

            <h3>{{ post.content }}</h3  >

            {# Фото поста беруться з окремої моделі PostPhoto. #}
            {% if post.postimage_set.all %}
                <div class="post-images">
                    {% for image in post.postimage_set.all %}
                        <p>
                            <a href="{{ image.original_image.url }}" target="_blank" rel="noopener noreferrer">
                                <img src="{{ image.compressed_image.url }}" alt="{{ post.title }}" style="max-width: 300px; height: auto;">
                            </a>
                        </p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if post.posttag_set.all %}
                    {% for tag in post.posttag_set.all %}
                        #{{ tag.name }}
                    {% endfor %}
                </p>
            {% endif %}

            {% if post.postlink_set.all %}
                <ul>
                    {% for link in post.postlink_set.all %}
                        <li>
                            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.url }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </article>
    <hr>
{% endfor %}