<div class="selection section-confirm">
    <nav class="confirm-info">
        <p>Підтвердження пошти</p>
        <p>Ми надіслали 6-значний код на вашу пошту (you@example.com). Введіть його нижче, щоб підтвердити акаунт</p>
    </nav>

    <form id="confirm_form" action="{% url 'activate' %}" method="post">
        {% csrf_token %}
        <div class="digits">
            {{ form_confirm_email.digit_1 }}
            {{ form_confirm_email.digit_2 }}
            {{ form_confirm_email.digit_3 }}
            {{ form_confirm_email.digit_4 }}
            {{ form_confirm_email.digit_5 }}
            {{ form_confirm_email.digit_6 }}
        </div>
        <button type="submit">Підтвердити</button>
    </form>
    <p id="back">Назад</p>
</div>