@font-face {
    font-family: "GT Walseim Pro";
    src: url("/static/fonts/gt_walseim_pro.ttf");
}

* {
    font-family: "GT Walseim Pro";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #070A1C;
}

header {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 9.17vh;

    padding: 2.5vh 5.5vw 2.5vh 5.5vw;
    
    background-color: #FFFFFF;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 90vw;
}
.logo{
    width: 9.86vw;
    height: 1.875vh;
}
.logo img{
    height: 100%;
}
header nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 56vw;
    height: 4.17vh;
    gap: 1.7vw;
}
.page-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.92vh;
    padding: 0.42vh 0.55vw 0.42vh 0.55vw;
    gap: 0.55vw;
    border-radius: 3px;
}
.page-link img{
    height: 100%;
}
.logout{
    width: 6.60vw;
    height: 4,18vh;
}
.logout img{
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #FAF8FF;
    padding: 2.2vh 5.5vw 2.2vh 5.5vw;

}
.info-profile{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    width: 24.4vw;
    /* height: 100vh; */

    gap: 0.83vh;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 64.09vw;
    /* height: 100vh; */
}