@font-face {
    font-family: "GT Walseim Pro";
    src: url("/static/fonts/gt_walseim_pro.ttf");
}

* {
    font-family: "GT Walseim Pro";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #070A1C;
}

body {
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 100%;
    height: 9.17vh;

    padding: 2.5vh 4vw;
    
    background-color: #FFFFFF;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    max-width: 100%;
}
.logo{
    width: 9.86vw;
    height: 1.875vh;
}
.logo img{
    height: 100%;
}
header nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 56vw;
    height: 4.17vh;
    gap: 1.7vw;
}
.page-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.92vh;
    padding: 0.42vh 0.55vw 0.42vh 0.55vw;
    gap: 0.55vw;
    border-radius: 3px;
}
.page-link img{
    height: 100%;
}
.logout{
    width: 6.60vw;
    height: 4,18vh;
}
.logout img{
    height: 100%;
}

.info-profile{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    width: 24.4vw;

    gap: 0.83vh;
}

.info-profile:empty {
    display: none;
}

.profile-info {
    width: 24.3vw;
}

.post-list {
    display: flex;
    flex-direction: column;

    gap: 1vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: start;

    background-color: #FAF8FF;
    padding: 2.2vh 3vw 2.2vh 5.5vw;

    flex: 1;
    overflow-y: auto;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    gap: 1.66vh;

    padding: 1.66vh 7vw 1.66vh 5.5vw;

    width: 64.1vw;

    flex: 1;
}