{% extends "base.html" %}
{% load static %}
{% block title %}Chat{% endblock title %}

{% block meta %}
    <meta name="csrf-token" content="{{csrf_token}}">
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
{% endblock links %}

{% block info-profile %}
    <button id="create-group-chat"> + Створити груповий чат</button>

    <div class="recommendations">
        {% include 'chat_app/particles/contacts_search.html' %}

        <div class="contacts">
            {% include 'chat_app/particles/contacts_list.html' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Мої чати</h1>
    <form method="post">
        {{ form.as_p }}
        <button type="submit">Надіслати</button>
    </form>
    <hr>
    <h2>Повідомлення:</h2>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'chat_app/js/chat.js' %} "></script>
{% endblock scripts %}
