{% extends "base.html" %}
{% load static %}
{% block title %}Chat{% endblock title %}

{% block meta %}
    <meta name="csrf-token" content="{{csrf_token}}">
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
{% endblock links %}

{% block info-profile %}
    {% include "chat_app/particles/chat_contacts.html" %}
{% endblock %}

{% block content %}
    <div class="chat-page">
        <!-- Підключаємо лівий блок контактів. -->
        <!-- Підключаємо центральний блок активного чату. -->
        {% include "chat_app/particles/chat_main.html" %}
        <!-- Підключаємо праву колонку з повідомленнями та груповими чатами. -->
        {% include "chat_app/particles/chat_sidebar.html" %}
    </div>

{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'chat_app/js/chat.js' %} "></script>
{% endblock scripts %}