.chat-contacts {
    display: flex;

    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    width: 24.375vw;
    height: 84.4vh;

    gap: 1vh;
}

.chat-contacts .chat-block {
    display: flex;

    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    gap: 1vh;

    width: 24.375vw;
    height: calc(84.4vh - 4.166vh);

    border: 1px solid;
    border-radius: 10px;

    border-color: #CDCED2;
    background-color: #FFFFFF;
}

.chat-contacts .chat-block form {
    display: flex;
    flex-direction: column;

    gap: 1.5vh;

    padding: 1vh 0 1vh 0;
}

.chat-contacts .chat-block form input {
    width: 22.15vw;
    height: 4.375vh;


    border: 1px solid;
    border-radius: 10px;

    border-color: #CDCED2;

    padding: 0.1vh 1vw 0.1vh 1vw;
}

.chat-contacts .create-group-chat {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 24.375vw;
    height: 4.166vh;

    border: 1px solid;
    border-radius: 1234px;

    background-color: #543C52;

    color: #FFFFFF;
}

.contacts-header {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 1.5vh;

    padding: 1vh 0 1vh 0;
}

.chat-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 1vw;
}

.content {
    padding-left: 2vw;
}

.chat-main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 39.1vw;
    height: 82.5vh;

    border: 1px solid;
    border-radius: 10px;

    border-color: #CDCED2;
    background-color: #FFFFFF;
}

.chat-side {
    display: flex;
    flex-direction: column;

    width: 24.3vw;
    max-height: 86.875vh;

    gap: 1.5vh;
}

.chat-side .chat-block {
    display: flex;
    flex-direction: column;

    gap: 1.66vw;

    padding: 1.66vh;

    border: 1px solid;
    border-radius: 10px;

    border-color: #CDCED2;
    background-color: #FFFFFF;

    width: 100%;
    min-height: 10vh;
}

.contact-item {
    width: 100%;

    padding-left: 1vw;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    gap: 3vw;
}

.contact-item img {
    width: 3.19vw;
}

.contact-item button {
    border: none;
    background: none;
}

.contacts-header h2 {
    font-weight: 500;
}

.contacts-header .contacts-icon {
    height: 2.5vh;

    opacity: 0.7;
}