<html lang="en">
    <head>
        {% load static %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block links %}{% endblock %}
    </head>
    <body>
        <header>
            {% if request.path != 'auth/' %}
                <nav>
                    <a href="{% url 'home_view' %}" class="logo">
                        <img src="{% static 'media/home.png' %}">
                        <span>Головна</span>
                    </a>

                    <a href="{% url 'post_view' %}" class="logo">
                        <img src="{% static 'media/gallery.png' %}">
                        <span>Мої публікації</span>
                    </a>

                    <a href="{% url 'friends_view' %}" class="logo">
                        <img src="{% static 'media/friends.png' %}">
                        <span>Друзі</span>
                    </a>

                    <a href="">
                        <img src="{% static 'media/chat.png' %}" alt="">
                        <span>Чати</span>
                    </a>

                    <a href="{% url 'profile' %}" class="logo">
                        <img src="{% static 'media/settings.png'%}">
                        <span>Профіль</span>
                    </a>
                </nav>
                {% endif %}

                {% block header %}{% endblock %}
            </header>

        
        <main class="containers">        
            {% block main %}{% endblock %}

            <div class = "info-profile">
                {% block left_container %}
                    <div class="profile-info">
                        <div class="avatar">
                             <img src="{% static 'media/avatar_example.png' %}" alt="Аватар">
                        </div>
                        <div class="username">
                            <p class="bold">Lina Li</p>
                            <p class="bold">@thelili</p>
                        </div>
                        <div class="stats">
                            <div class='stat-item'>
                                <p class="bold">566</p>
                                <p>Дописи</p>
                            </div>
                            <div class='stat-item'>
                                <p class="bold">12.1К</p>
                                <p>Читачі</p>
                            </div>
                            <div class='stat-item'>
                                <p class="bold">222</p>
                                <p>Друзі</p>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>

        
        <footer>
            {% block footer %}{% endblock %}
        </footer>

        
        {% block scripts %}{% endblock %}
    </body>
</html>