{% load static %}
<div class="profile-info">
    <a class="img-profile" >
        <img src="{% static 'media/avatar_example.png' %}" alt="">
    </a>

    <p class="bolder">Lina Li</p>
    <p class="bold">@thelili</p>

    <div class="statistics">
        <div>
            <p class="bolder">566</p>
            <p>Дописи</p>
        </div>
        <div>
            <p class="bolder">12.1K</p>
            <p>Читачі</p>
        </div>
        <div>
            <p class="bolder">222</p>
            <p>Друзі</p>
        </div>
    </div>
</div>
