.registration {
    height: 83vh;
    overflow-y: hidden;
}

.section-register, .section-login {
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.section-register{
    display: none;
}

.section-confirm {
    display: none;
}

.section-login{
    display: flex;
}

.register-content {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.selection {
    flex-direction: column;

    justify-content: center;

    width: 30vw;
    height: 65vh;

    border: 1px solid;
    border-radius: 20px;

    background-color: #FFFFFF;

    flex-direction: column;

    flex-flow: vertical;
}

.registration .imgcont {
    display: flex;
    flex-direction: column;

    width: 47.15vw;
    height: 54.7h;
}

.registration .imgcont img {
    width: 100%;
}

.selection form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 3.05vw;
    gap: 2.5vw;
}

.selection form input {
    width: 27.7vw;
    height: 4.375vh;

    border: 1px solid;
    border-radius: 10px;

    padding: 1.041vh 1.11vw 1.041vh 1.11vw;
}

.selection form button {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    border: 1px solid;
    border-radius: 1234px;

    background-color: #543C52;

    width: 27.7vw;
    height: 4.375vh;

    color: #FFFFFF;
}

.selection nav {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 2.5vw;
}

.selection nav p {
    height: 4.0625vh;

    font-weight: 700;
    font-size: 34px;

    line-height: 100%;
}

.section-confirm nav {
    flex-direction: column;
    gap: 1vw;
}

.section-confirm nav p {
    height: auto;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: center;
}

.selection .misc {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.selection .misc p {
    font-size: 24px;
    font-weight: 500;

    height: 2.63vh;
}

#confirm_form {
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.digits {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.digits input {
    max-width: 3.5vw;
    max-height: 4.6875vh;
}


.digits input::-webkit-outer-spin-button,
.digits input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.digits input {
    -moz-appearance:textfield;
}